{{#if isValid}}
<div>
    {{#each payload}}
    {{this}}
    <p>Nombre: {{this.name}}</p>
    <p>Precio: {{this.price}}$</p>
    <p>Cantidad: {{this.quantity}}</p>
    {{/each}}
</div>
<br />
<div>
    {{#if hasPrevPage}}
        <a href={{this.prevLink}}><< Anterior</a>
    {{/if}}
    {{this.page}}
    {{#if hasNextPage}}
    <a href={{this.nextLink}}>Siguiente >></a>
    {{/if}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}